*{
    padding: 0%;
    margin: 0%;
}

#introducao{
    display: block;
background-image: url("../imagens/yourspizza_intrudocao.png");
width: 100%;
height: 1080px;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
    text-align: center;
    color: white;
    text-shadow: black 3px 0.5px;
    font-style: normal;
    font-size: 5vh;
    font-weight: bolder;



}
#saibamais{
    display: block;
    position: relative;
    background-color: red;

text-decoration: none;
text-transform: capitalize;
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
font-size: 5vh;

color: white;
    top: 50%;

}
#saibamais:hover{
    background-color: #db892b;

}
#explicacao{
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url(../imagens/explicacao.png);
    width: 100%;
height: 1080px;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
text-align: center;
color: white;
text-shadow: black 3px 0.5px;
font-style: normal;
font-size: 5vh;
font-weight: bolder;
}
#venha_ser_cliente{
    display: block;
  position: relative;
top: 78%;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;

background-color: red;
    color:white;
}
#introducao p{
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#introducao h1{
    display: inline-block;
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-transform: capitalize;

}
#explicacao p{
    display: inline-block;
    position: relative;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#explicacao h1{
    display: inline-block;
    position: relative;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

}
#quem_somos{

    background-image: url(../imagens/quemSomos.png);
    width: 100%;
  background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: black 3px 0.5px;
    font-style: normal;
    font-size: 5vh;
    font-weight: bolder;
    text-transform: capitalize;

}
#quem_somos h1{
    padding: 3%;
}
nav{
    display: inline-block;

    background-color: transparent;
    position: fixed;

}
nav ul li{
    position: absolute;
    display: inline-block;

    float: left;
}


